body {
  background-color: hsl(185, 56%, 33%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.img1 {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img2 {
  width: 100px;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  top: -50px;
  left: 150px;
}

.pp1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: -30px;
}

.pp2 {
  text-align: center;
  color: hsl(227, 10%, 46%);
  margin-top: -10px;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 30px;
}

.span1 {
  font-size: 18px;
  font-weight: normal;
}

.box1 {
  border-bottom: 1px solid hsl(223, 6%, 76%);
  height: 330px;
}

.box2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.do {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.rd {
  z-index: -1;
}

.imgg {
  position: absolute;
  left: 80%;
  top: 2%;
}

.imgg1 {
  position: absolute;
  bottom: 30%;
  right: 60%;
}
